body
{
    background-color:gray;
    font-size: medium;
    font-family: Verdana;
    
    color: white;
}
h1
{
    font-style: Verdana;
    color: khaki

}
a:link{
    font-size: medium;
    font-family: Verdana;
    color : blue

}
a:visited{
    font-size:medium;
    font-family: Verdana;
    color: navy
}
a:hover{
    font-size: medium;
    font-family: Verdana;
    color: darkorchid
}
img{

    width: 250px;
    height: 150px;

}
#Logo{
    text-align: center;
    font-size: medium;
    font-family: Verdana,sans-serif;
    background-color: darkgoldenrod;
}
#Artykuł{
    text-align: center;
    font-size: medium;
    background-color: brown;
}
.Lucyfer{
    height: 250px;
    width: 300px;

}
#Artykuł2{
    background-color: green;
    text-align: center;
    
}
.BreakingBad{

    height: 250px;
    width: 350px;
}